<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
    </configSections>
    <log4net>
        <!-- Define some output appenders -->
        <appender name="LogFile" type="log4net.Appender.RollingFileAppender">
            <!-- the rolling file appender creates a new log when it gets to the max size
           and then the log rolls to the new file.  In this example the file
           will get to 10k, then roll a new file (up to 10 max). -->
            <!-- Send the file to the %temp% directory...note that %temp% is the 
           setting of the temp environment variable which may NOT be c:\temp. -->
            <file type="log4net.Util.PatternString" value="Logs/DirectoryMonitor-%property{SessionId}-%property{PID}.log"/>
            <appendToFile value="false"/>
            <maxSizeRollBackups value="10"/>
            <maximumFileSize value="1000000"/>
            <rollingStyle value="Size"/>
            <staticLogFileName value="true"/>
            <layout type="log4net.Layout.PatternLayout">
                <!--<conversionPattern value="%date{yyyyMMddHHmmss.fff} &lt;%thread&gt; &lt;%level&gt; &lt;%logger&gt; %class::%method::%message%newline" />-->
                <conversionPattern value="%date{yyyy-MM-dd HH:mm:ss.fff} %message%newline"/>
            </layout>
        </appender>

        <!-- you can specify as many appenders as you want. -->
        <!--<appender name="DebugAppender" type="HP.Common.System.Diagnostics.DebugOutputDestination, HP.Common.System">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{yyyy-MM-dd HH:mm:ss.fff} &lt;%thread&gt; %C{1}::%M::%message%newline" />
      </layout>
    </appender>-->

        <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
            <layout type="log4net.Layout.PatternLayout">
                <!--<conversionPattern value="%date{yyyyMMddHHmmss.fff} &lt;%thread&gt; &lt;%level&gt; &lt;%logger&gt; %class::%method::%message%newline" />-->
                <conversionPattern value="%date{yyyy-MM-dd HH:mm:ss.fff} %message%newline"/>
            </layout>
        </appender>

        <!-- Setup the root category, add the appenders and set the default level -->
        <!--<root>
      <level value="ERROR" />
      <appender-ref ref="DebugAppender" />
    </root>-->

        <!-- Specify the level for some specific categories, make sure it's the
         same name specified in your HPTraceLog attribute on your trace factory -->
        <logger name="SystemLogger">
            <level value="ALL"/>
            <appender-ref ref="LogFile"/>
            <appender-ref ref="ConsoleAppender"/>
        </logger>
    </log4net>

    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1B03E6ACF1164F73" culture="neutral"/>
                <bindingRedirect oldVersion="0.0.0.0-0.86.0.518" newVersion="0.86.0.518"/>
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>
