<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Systems" type="System.Configuration.NameValueSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>
  <Systems>
    <add key="RDL Production System" value="STFData01.etl.boi.rd.hpicorp.net"/>
    <add key="RDL Beta System" value="STFData02.etl.boi.rd.hpicorp.net"/>
    <add key="RDL Development System" value="STFData03.etl.boi.rd.hpicorp.net"/>
    <add key="RDL STB Development" value="STBServer01.etl.boi.rd.hpicorp.net"/>
    <add key="Hub Production System" value="STFSystem01.etl.psr.rd.hpicorp.net"/>
    <add key="Hub Development System" value="STFSystem02.etl.psr.rd.hpicorp.net"/>
    <add key="Hub Beta System" value="STFSystem03.etl.psr.rd.hpicorp.net"/>
  </Systems>
  <log4net>
    <appender name="LogFile" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="Logs/STFU-%property{PID}.log"/>
      <staticLogFileName value="true"/>
      <appendToFile value="false"/>
      <preserveLogFileNameExtension value="true"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="1048576"/>
      <rollingStyle value="Size"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{yyyy-MM-dd HH:mm:ss.fff} [%property{charlevel}] &lt;%thread&gt; %class{1}::%method::%message%newline"/>
      </layout>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{yyyy-MM-dd HH:mm:ss.fff} [%property{charlevel}] &lt;%thread&gt; %class{1}::%method::%message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="ALL"/>
      <appender-ref ref="LogFile"/>
      <appender-ref ref="ConsoleAppender"/>
    </root>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
</configuration>
