<?xml version="1.0"?>
<configuration>
  <appSettings>
    
    <!--File mask to look for - only files that match this expression will be validated-->
    <add key="fileMask" value="*.pdf"/>

    <!--List of emails to send notifications to - semicolon demlited, or each on a new line-->
    <add key="emails" value="
         recipient1@example.com
         recipient2@example.com
         "/>

    <!--List of local directories to monitor - each location on a new line-->
    <add key="monitorLocations" value="
         E:\DSS\Destination1
		 E:\DSS\Destination2
         "/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
