<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings"
        type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="HP.STF.TriageDataTool.Properties.Settings"
          type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
          allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework"
            type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
            requirePermission="false"/>
  </configSections>
  <appSettings>
    <add key="Boise Production" value="stfods01.etl.boi.rd.hpicorp.net" />
    <add key="Boise Integration" value="stfdata02.etl.boi.rd.hpicorp.net" />
    <add key="Boise Development" value="stfdata03.etl.boi.rd.hpicorp.net" />
    <add key="Localhost" value="localhost" />
    <add key="HUB Production" value="stfsystem01.etl.psr.rd.hpicorp.net" />
    <add key="Mphasis" value="146.204.93.52" />
    <add key="ACT_Client02" value="15.86.238.2" />
    <add key="HPPK_STB_Server" value="130.31.192.225" />
    <add key="HPPK_STB_Server_Pankyo" value="STBSERVER01" />
    <add key="DataLog-Bangalore-ACT" value="DataLog-Bangalore-ACT" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <userSettings>
    <HP.STF.TriageDataTool.Properties.Settings>
      <setting name="MainFormLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="MainFormSize" serializeAs="String">
        <value>100, 100</value>
      </setting>
      <setting name="SelectedDbEnvironment" serializeAs="String">
        <value>0</value>
      </setting>
    </HP.STF.TriageDataTool.Properties.Settings>
  </userSettings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>