<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Systems" type="System.Configuration.NameValueSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="DDS" type="System.Configuration.NameValueSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="ScenarioMap" type="System.Configuration.NameValueSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <Systems>
    <add key="Local System" value="localhost" />
    <add key="RDL Production System" value="STFData01.etl.boi.rd.hpicorp.net" />
    <add key="RDL Beta System" value="STFData02.etl.boi.rd.hpicorp.net" />
    <add key="RDL Development System" value="STFData03.etl.boi.rd.hpicorp.net" />
    <add key="RDL STB Development" value="STBServer01.etl.boi.rd.hpicorp.net" />
    <add key="Hub Production System" value="STFSystem01.etl.psr.rd.hpicorp.net" />
    <add key="Hub Development System" value="STFSystem02.etl.psr.rd.hpicorp.net" />
    <add key="Mphasis" value="146.204.93.52" />
  </Systems>
  <DDS>
    <add key="Production" value="estserver.rdl.boi.rd.hpicorp.net" />
    <add key="Development" value="kpvedavy25.auth.hpicorp.net" />
  </DDS>
  <ScenarioMap>
    <add key="CST: Firmware Update" value="FIM,Firmware Upgrade" />
    <add key="CST: Power Booting" value="PB,PowerBoot" />
    <add key="CST: Operational - 30 percent Sleep Wake" value="OR,Operation Reliability" />
  </ScenarioMap>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>