<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>
  <log4net>
    <appender name="LogFile" type="log4net.Appender.FileAppender">
      <file value="Logs/PluginSimulator.log"/>
      <staticLogFileName value="true"/>
      <appendToFile value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{yyyy-MM-dd HH:mm:ss.fff} %class{1}::%method::%message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="ALL"/>
      <appender-ref ref="LogFile"/>
    </root>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <appSettings>
    <add key="UserName" value="administrator"/>
    <add key="UserPassword" value="rdl@123"/>
    <add key="SessionId" value="TEST"/>
    <add key="UserDomain" value="ert"/>
    <add key="UserDnsDomain" value="etl.boi.rd.hpicorp.net"/>
    <add key="GlobalDatabase" value="10.11.13.20"/>
    <add key="DocumentShareLocation" value="\\STFGlobal01.etl.boi.rd.hpicorp.net\TestLibrary\Documents"/>
    <add key="PluginRelativeLocation" value="..\..\..\..\..\VirtualResource\Distribution\Plugin"/>
  </appSettings>
  
</configuration>