<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
    <section name="Systems" type="System.Configuration.NameValueSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <section name="UnattendedExecutionConfig" type="System.Configuration.NameValueSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
  </configSections>
  <log4net>
    <appender name="LogFile" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="Logs/STBConsole.log"/>
      <staticLogFileName value="true"/>
      <appendToFile value="false"/>
      <preserveLogFileNameExtension value="true"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="1048576"/>
      <rollingStyle value="Size"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{yyyy-MM-dd HH:mm:ss.fff} [%property{charlevel}] &lt;%thread&gt; %class{1}::%method::%message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="ALL"/>
      <appender-ref ref="LogFile"/>
    </root>
  </log4net>
  <!--The Systems section contains a list of ETL systems and their main databases.-->
  <Systems>
    <add key="HPEC41" value="HPEC41.etl.boi.rd.hpicorp.net"/>
    <add key="W7x64-064-165" value="W7x64-064-165.etl.boi.rd.hpicorp.net"/>
    <add key="STBServer41" value="STBServer41.etl.boi.rd.hpicorp.net"/>
    <add key="STBServer01" value="STBServer01.etl.boi.rd.hpicorp.net"/>
    <add key="STFSystem03" value="STFData03.etl.boi.rd.hpicorp.net"/>
    <add key="Localhost" value="localhost"/>
  </Systems>
  <!-- The UnattendedExecutionConfig to be uncommented for running STB unattended   -->
  <!--When this section is uncommented the UI will not show up-->
   <!--<UnattendedExecutionConfig>
        <add key="scenarios" value="Scenario1;scenario2;scenario3" />
        <add key="database" value="10.11.14.255" />
        <add key="dispatcher" value="" />
        <add key="sessionName" value="Session_STB_Unattended" />
        <add key="owner" value="administrator"/>
        <add key="reservation" value="" />
        <add key="durationHours" value="" />
    </UnattendedExecutionConfig>-->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
</configuration>
