<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <appSettings>
    <add key="StfOds01 Production" value="StfOds01 Production"/>
    <add key="STFData02-Beta" value="STFData02-Beta"/>
    <add key="STFData03-Development" value="STFData03-Development"/>
    <add key="Localhost" value="localhost"/>
    <add key="HUB Production" value="stfsystem01.etl.psr.rd.hpicorp.net"/>
    <add key="Mphasis" value="146.204.93.52"/>
    <add key="ACT_Client02" value="15.86.238.2"/>
    <add key="HPPK_STB_Server" value="130.31.192.225"/>
    <add key="HPPK_STB_Server_Pankyo" value="STBSERVER01"/>
    <add key="DataLog-Bangalore-ACT" value="DataLog-Bangalore-ACT"/>
  </appSettings>
    <!--<configSections>
    
        <add key="STFData01-Production" value="15.86.232.53"/>
    <add key="STFData02-Beta" value="=15.86.232.55"/>
    <add key="STFData03-Development" value="15.86.232.57"/>   
    
        --><!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --><!--
        <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
     --><!--For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468--><!-- 
   </configSections>-->
    <connectionStrings>
        
        <add name="DataLogContext" connectionString="Data Source=15.86.232.57;Initial Catalog=ScalableTestDataLog;Persist Security Info=True;User ID=enterprise_data;Password=enterprise_data" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <!--<entityFramework>
        <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
        <providers>
            <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
        </providers>
    </entityFramework>-->
  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs/TriageDataTool.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="100" />
      <maximumFileSize value="1MB" />
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{yyyy-MM-dd HH:mm:ss.fff} [%property{charlevel}] &lt;%thread&gt; %class{1}::%method::%message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="ALL"/>
      <appender-ref ref="LogFileAppender"/>
    </root>
  </log4net>
</configuration>